/* Setting Page */

*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #636363;
    font-weight: 400;
    line-height: 1.6;
}

.section-inner {
    padding-top: 115px;
}

/* Start Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container li {
    padding: 55px 15px;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

a span {
    display: inline-block;
    transition: all 1s;
}

a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {transform: translateY(100%);}

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% { opacity: 1;
     }
}

nav {
    display: flex;
    align-items: center;
}

/* set up cho toan bo cac nut button */
.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.75s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}

/* lam hieu hung xoet xoet */
.btn-gradient:hover {
    background-position: right center;
    color:white;
    text-decoration: none;
}

li::marker {
    color: transparent;
}

/* End Header */

/* Start Carousel */

.carousel {
    padding-top: 180px;
    background-image: url(./Samar/pic2.png);
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}

.ca_container {
    max-width: 1200px;
    margin: auto;
}

.ca_content {
    display: flex;
    align-items: center;
}

.ca_left {
    width: 60%;
}

.carousel_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.carousel_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    display: block;

}

.carousel_article p {
    font-size: 18px;
    margin-bottom: 15px;
}

.carousel_article ul {
    margin-bottom: 20px;
}

.carousel_article i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.ca_content li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}


li {
    list-style: none;
    display: list-item;
}

.carousel_banner img {
    max-width: 100%;
    display: block;
}


/* End Carousel */

/* Start Service*/

.service {
    padding-bottom: 0;
    background-image: url(./Samar/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.service_container {
    max-width: 1199px;
    margin: auto;
}

.service_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.service_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.service_block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}

.services_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    /* padding: 30px 45px; */
    transform: translateY(0px);
    transition: all 0.5s;
}

.services_item:hover {
   transform: translateY(-20px)
}

.services_item img {
    width: 215px;
}

.services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

.services_item p {
    padding-right: 40px;
    padding-left: 40px;
}
    
/* End Service */

/* Start About Us */

.aboutus {
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.section-inner {
    padding-top: 115px;
}

.us_container {
    max-width: 1199px;
    margin: auto;
}

.aboutus_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutus_left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutus_left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutus_right {
    width: 50%;
}

.aboutus_right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

.title P {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.aboutus_right p {
    margin-bottom: 15px;
}

/* End About Us */

/* Start Number */
.number {
    background-image: url(/Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.num_container {
    max-width: 1200px;
    margin: auto;
}

.num_content {
    display: flex;
    justify-content: space-around;
}

.num_item {
    width: 25%;
}

.num_item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.num_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.num_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}
/* End Number */

/* Start Feature */

.feature {
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
    padding-top: 115px;
}

.feature_container {
    max-width: 1199px;
    margin: auto;
}

.feature_content {
    display: flex;
}

.feature_left, .feature_right {
    width: 50%;
}

/* Left part */

.feature_item {
    padding: 0 50px 30px 0;
}

.feature_item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.feature_item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.feature_bg {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.feature_bg::after {
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s
}

.feature_bg:hover::after {
    opacity: 1
}

/* Right part */

.feature_banner {
    margin-right: -80px;
}

.feature_banner img {
    max-width: 90%;
    animation: move2 5s infinite;
}

/* Animation setup */

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}

/* End Feature */

/* Start Porfolio */

.portfolio {
    background-image: url(../Samar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.por_container {
    max-width: 1199px;
    margin: auto;
}

.portfolio_content {
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}

.portfolio_item:hover::before {
    left: 125%;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}

.portfolio_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all 1s;
}

.portfolio_item:hover .portfolio_icon {
    transform: translate(0);
}

.portfolio_icon a {
    cursor: pointer;
}

.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}

.portfolio_item:hover .portfolio_text {
    transform: translateY(0);
}

.portfolio_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.portfolio_text p {
    color: white;
    opacity: .7;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
}

.portfolio_item1 {
    grid-column: 1/span 2;
}

.portfolio_item5 {
    grid-column: 1/span 2;
}

.portfolio_item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

/* End Porfolio */

/* Plan Section */

.plan {
    background-image: url(../Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.plan_container {
    max-width: 1199px;
    margin: auto;
}

.plan_content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 30px;
}

.plan_item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}

.plan_item img {
    width: 125px;
}

.plan_item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}

.plan_item li, .plan_item p {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan_item li {
    font-weight: 400;
}

.plan_item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan_item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}

.plan_item li {
    padding: 5px 0;
}

.plan_item i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}

/* Lam hieu hung border */
.plan_item:hover {
    border-image: url(../Samar/br.png) 1 round;
}

/* Testimonial Sections */

.testimonial {
    text-align: center;
    background-image: url(../Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    min-height: 300px;
    text-align: center;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }

  .testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  max-width: 770px;
  position: relative;
  }

  .testimonial__name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial__text p:first-of-type {
    color: #f55f8d;
}


.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.swiper-pagination-bullets.swiper-pagination-horizontal, .testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}

  

/* End Testimonial */

/* Blog Section */

.blog {
    background-image: url(../Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.blog__item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}

.blog__header {
    position: relative;
}

.blog__header img {
    width: 100%;
    border-radius: 8px;
}

.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog__footer p:first-of-type {
    margin-right: 20px;
}

.blog__footer p:first-of-type span {
    color: #f55f8d;
}

.owl-nav {
    color: transparent;
}

/* End Blog */

/* Footer */

footer {
    background-image: url(../Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

.footer_container {
    max-width: 1199px;
    margin: auto;
}

footer::before {
    content: "";
    background-image: url(../Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.footer__top {
    padding: 50px 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-image: url(../Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer__form,.footer__text {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    border-radius: .5rem;
    box-shadow: 0 0 60px 0 rgb(0,0,0,.1);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid white;
    outline: 0;
    transition: all .5s;
}

.footer__form input:focus,.footer__form input:hover {
    border-color: #f55f8d;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 .5rem .5rem 0;
    color: white;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center;
}

.footer__form button:hover i {
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}

.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item {
    width: 25%;
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: white;
}

.footer__item h3::after, .footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.footer__item h3::before {
    width: 15px;
}

.footer__item h3::after {
    width: 45px;
    left: 20px;
}

.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer__item li {
    padding: .5rem 0;
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer__item a:hover {
    color: white;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d;
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}

/* Back to top */

#button {
    display: inline-block;
    background-color: #f55f8d;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f062";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: white;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }


